.containAll {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.addAppointment {
	width: 100%;
	height: 100%;
	background: #303030;
	position: fixed;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.89);
	align-items: center;
	justify-content: center;

	p {
		font-size: 2.5em;
		color: rgba(255, 255, 255, 0.56);

		span {
			font-weight: 500;
			color: rgba(255, 255, 255, 0.89);
		}
	}

	input {
		width: 50%;
		border: 1px solid rgba(255, 255, 255, 0.56);
		margin-top: 15px;
		font-size: 1.2em;
		border-radius: 8px;
		height: 35px;
		padding-left: 10px;
	}

	div {
		padding: 15px;
		font-size: 1.5em;
		border: 1px solid rgba(255, 255, 255, 0.56);
		border-radius: 8px;
		margin-top: 25px;
		cursor: pointer;
		background: transparent;
		transition: 350ms ease-in;

		&:hover {
			background: rgba(255, 255, 255, 0.89);
			color: #303030;
			letter-spacing: 3px;
		}
	}
}

.navigationButton {
	padding: 7px 10px;
	border: 1px solid #303030;
	border-radius: 8px;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
	transition: 350ms ease-in;

	&:hover {
		color: rgba(255, 255, 255, 0.89);
		letter-spacing: 3px;
		background: #303030;
	}
}

.containAppointment {
	width: 100%;

	.v-application--wrap {
		width: 100%;
	}
}

.accountIcon {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 35px;
	height: 35px;
	background: url(~Image/account.png);
	background-size: 35px;
	z-index: 1;
	cursor: url(~Image//select.png), pointer;
}